/*
/////////////
///DIV's/////
/////////////
*/

.main{
    width: 40%;
    display: block;
    margin: 40px auto;
    border: 2px solid #0F9246;
    transition: .4s;
    border-radius: 7px;
}

.resposta{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#margem{
    margin: 15px;
}

.butoes{
    margin-left: 7px;
}

/*
/////////////
///Título////
/////////////
*/

h1{
    display: block;
    width: 200px;
    margin-top: -30px;
    margin-left: 3%;
    margin-bottom: 10px;
    padding-left: 5px;
    font-size: 15pt;
    background-color: #fff;
}

h2{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20pt;
    text-align: center;
}

/*
/////////////
/Páragrafo///
/////////////
*/

p{
    margin-top: 15px;
    margin-bottom: 10px;
}

#nomeCliente{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 10px;
}

#infoValor {
    font-weight: bolder;
}

/*
/////////////
///Lista/////
/////////////
*/

ul{
    padding: 0px;
}

#listaBebidas #listaComidas{
    margin-left: 20px;
}

li{
    display: inline-block;
}

#listaComidas > li {
    display: list-item;
    margin-left: 30px;
}

#listaBebidas > li {
    display: list-item;
    margin-left: 30px;
}

/*
/////////////
///Input/////
/////////////
*/

#nome{
    height: 27px;
    width: 60%;
    display: inline-block;
}

.options{
    margin-left: 10px;
}

/*
/////////////
///Butões////
/////////////
*/

.btn-primary{
    background-color: #FFC214;
    border-color: #FFC214;
}

.btn-primary:hover{
    background-color: #0F9246;
    border-color: #0F9246;
}

/*
/////////////
///Tela//////
/////////////
*/

@media only screen and (max-width: 1000px) {
    .main{width: 50%}
    .resposta{width: 40%}
}

@media only screen and (max-width: 780px) {
    .main{width: 100%}
    .resposta{width: 100%}
}